<div class="row">
    <div class="col s6 offset-s3">
        <form (submit)="editPet()">
            <h5>Edit this pet</h5>
            <div class="input-field ">
                <input
                    [(ngModel)]="pet.name"
                    #name="ngModel"
                    id="name"
                    name="name"
                    type="text"
                    required
                    minlength="3"
                    (blur)="nameEdited = true"
                >
                <label [ngClass]="{active: pet.name != ''}" for="name">Name</label>
                <p *ngIf="pet.name.length == 0 && nameEdited">A name is required</p>
                <p *ngIf="pet.name.length < 3 && nameEdited">Name must be at least 3 characters</p>
                <p *ngIf="nameTaken">A pet with this name already exists</p>
            </div>
            <div class="input-field ">
                <input
                    [(ngModel)]="pet.type"
                    #type="ngModel"
                    id="type"
                    name="type"
                    type="text"
                    required
                    minlength="3"
                    (blur)="typeEdited = true"
                >
                <label [ngClass]="{active: pet.type != ''}" for="type">Type</label>
                <p *ngIf="pet.type.length == 0 && typeEdited">A type is required</p>
                <p *ngIf="pet.type.length < 3 && typeEdited">Type must be at least 3 characters</p>
            </div>
            <div class="input-field ">
                <input
                    [(ngModel)]="pet.description"
                    #description="ngModel"
                    id="description"
                    name="description"
                    type="text"
                    required
                    minlength="3"
                    (blur)="descriptionEdited = true"
                >
                <label [ngClass]="{active: pet.description != ''}" for="description">Description</label>
                <p *ngIf="pet.description.length == 0 && descriptionEdited">A description is required</p>
                <p *ngIf="pet.description.length < 3 && descriptionEdited">Description must be at least 3 characters</p>
            </div>
            <h5>Skills (Optional):</h5>
            <div class="input-field">
                <input [(ngModel)]="pet.skills.skill1" id="skill1" name="skill1" type="text">
                <label [ngClass]="{active: pet.skills.skill1 != ''}" for="skill1">Skill 1</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="pet.skills.skill2" id="skill2" name="skill2" type="text">
                <label  [ngClass]="{active: pet.skills.skill2 != ''}" for="skill2">Skill 2</label>
            </div>
            <div class="input-field">
                <input [(ngModel)]="pet.skills.skill3" id="skill3" name="skill3" type="text">
                <label [ngClass]="{active: pet.skills.skill3 != ''}" for="skill3">Skill 3</label>
            </div>
            <div class="input-field center-align">
                <button class="waves-effect waves-light btn red" routerLink="pets">Cancel</button>&nbsp;
                <button
                class="waves-effect waves-light btn"
                type="submit"
                [disabled]="!name.valid || !type.valid || !description.valid"
                >Edit Pet</button>
            </div>
        </form>
    </div>
</div>